/* Navbar container */
.login-navbar {
    overflow: hidden;
    background-color: #FF3368;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px
  }
  
 .login-navbar .loginForm{
    width: 100%;
    margin: 0 auto;
  }

  /* Links inside the navbar */
  .login-navbar .container label {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px 480px;
    text-decoration: none;
  }

/* Login modal pop up */

/* .navbar .container body {font-family: Arial, Helvetica, sans-serif;} */

/* Full-width input fields */
.login-navbar .loginContainer input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-navbar .container button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

.login-navbar .container button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.login-navbar .container .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.login-navbar .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.login-navbar .imgcontainer img.avatar {
  width: 40%;
  border-radius: 50%;
}

.login-navbar .imgcontainer span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.login-navbar .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.login-navbar .loginForm{
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.login-navbar .imgcontainer .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.login-navbar .imgcontainer .close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.login-navbar .imgcontainer .modal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}